@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;


}

/*root values*/
:after{
    --container-color:black;
    --second-color:rgba(77,228,255);
    --text-color:white;
    --bg-color:black;

}
::selection{
    color: var(--bg-color);
    background: var(--second-color);


}
a{
    text-decoration: none;
}
li{
    list-style: none;

}
img{
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}
section{
    padding: 3rem 0 2rem;
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
    
}
/*header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;

}
header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% /10%);
    transition: .5s;

}
header.shadow.logo{
    color: var(--text-color);

}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    font-size: 1.8rem;
    font-weight: 600;
    color:  white;
    background: #0E2431;
    padding: 7px;
    border-radius: 13px;


}
.logo span{
    color: white;

}
.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius:4px;
    color: white;
    border-radius: 13px;
    padding: 13px;
    background-color: #0E2431;


}
.login:hover{
background: hsl(199, 89%, 46%);
transition: .5s;
color: black;

}
.home{
    width: 100%;
    min-height: 440px;
    background: url("Media/marvin-meyer-SYTO3xs06fU-unsplash.jpg");
    display: grid;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

    

}
.home-text{
    color:  black;
    text-align: center;
}
.home-title{
    font-size: 3.7rem;

}
/*latest blog section*/
.latest .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .latest .boxes .box{
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 15px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
  }
  .latest .boxes .box:hover{
    background: #5caddb;
    color: black;
  }
  .latest .boxes .box:hover .topic,
  .latest .boxes .box:hover p{
    color: #0E2431;
    transition: all 0.3s ease;
  }
  .latest .boxes .box:hover .topic,
  .latest .boxes .box:hover p{
    color: #0E2431;
  }
  .topic{
    text-align: center;
    font-weight: 700;
  }
  .title{
    font-weight: 700;
    text-align: center;
    font-size: larger;

  }
  .latest button{
    background-color: black;
    color: white;
    border-radius: 10px;
    border-style: none;
    padding: 12px;
    margin-top: 10px;
  }
  .latest button:hover{
    background-color: #0E2431;
    color: white;
  }
  /*Latest blog responsive design*/
  @media (max-width: 750px) {
    .latest .latest-details{
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .latest-details .text{
      width: 100%;
      margin-bottom: 50px;
    }
    .latest-details .boxes{
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .latest .boxes .box{
      margin: 20px 0;
      width: 100%;
    }
   
  }
  
  @media (max-width: 500px){
    
    .latest-details .boxes .per{
      font-size: 50px;
      color: #0E2431;
    }}